In [76]:
import pandas as pd
import numpy as np
#Creating Project Dataframe
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7", "Project 8", "Project 9", 
                "Project 10", "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed", "Ongoing", "Finished", "Failed", 
               "Ongoing", "Finished", "Finished"]
}
df_project = pd.DataFrame(project_data)

#Creating Employee Dataframe
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "New York", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}
df_employee = pd.DataFrame(employee_data)

#Creating Seniority DataFrame
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}
df_seniority = pd.DataFrame(seniority_data)

#final statement and merging data on basis of column ID
Final = df_project.merge(df_employee, on="ID").merge(df_seniority, on="ID")
# Printing Final merged dataframe results with updated data
print(Final)

      ID     Project       Cost    Status             Name Gender      City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M     Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F    London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M    Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  New York
4   A005   Project 5        NaN  Finished        Amy Johny      F    Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F    London
6   A005   Project 7   400000.0  Finished        Amy Johny      F    Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M    Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M     Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M    Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M     Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  New York
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  New York
13  A005  Project 14   200000.0  Finished        Amy Johny      F    Madrid

    Age  Designation Level
0    25                  2
1    27                  2
2    29                  3
3    31                  2
4    30                  3
5    27                  2
6    30                  3
7    29                  3
8    25                  2
9    29                  3
10   25                  2
11   31                  2
12   31                  2
13   30                  3

In [50]:
import pandas as pd
#Creating data project frame
df_project = pd.read_csv("Project_Data.csv") #Reading the file into dataframe

#replacing zero in the cost column with NAN
df_project["Cost"] = df_project["Cost"].replace(0, pd.NA)


running_sum = 0
count = 0

#Performing iterations for for each row
for i in range(len(df_project)):
    #checking if Cost value is missing
    if pd.isnull(df_project.at[i, "Cost"]):
        #if there are valid previous values, replace missing values with running average
        if count > 0: 
            df_project.at[i, "Cost"] = running_sum / count 
    else:
        #updating the runningsum and count with the valid cost value
        running_sum += df_project.at[i, "Cost"]
        count += 1
#Saving the updated dataframe to new csv file
df_project.to_csv("Project_Data_Updated.csv", index=False)

#Printing message when successful
print("Missing values replaced successfully using running average!")

Missing values replaced successfully using running average!

In [52]:
import pandas as pd
#Creating Dictionary with single column
data = {'name': ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"]}
#Creating Pandas Dataframe
df = pd.DataFrame(data)
#Splitting the name column as First and Last Names
df[['First Name', 'Last Name']] = df['name'].str.split(n=1, expand=True)
#Dropping original column as no longer needed
df.drop(columns=['name'], inplace=True)
#Printing updated data frame
print(df)

  First Name  Last Name
0       John      Alter
1      Alice  Luxumberg
2        Tom  Sabestine
3       Nina      Adgra
4        Amy      Johny

In [66]:
#5% bonus concerning project cost only to employees who have finished the projects else 0.
Final["Bonus"] = Final.apply(lambda row: row["Cost"] * 0.05 if row["Status"] == "Finished" else 0, axis=1)
#Printing updated results 
print(Final)

      ID     Project       Cost    Status             Name Gender      City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M     Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F    London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M    Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  New York
4   A005   Project 5        NaN  Finished        Amy Johny      F    Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F    London
6   A005   Project 7   400000.0  Finished        Amy Johny      F    Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M    Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M     Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M    Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M     Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  New York
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  New York
13  A005  Project 14   200000.0  Finished        Amy Johny      F    Madrid

    Age  Designation Level     Bonus
0    25                  2   50100.0
1    27                  2       0.0
2    29                  3  225000.0
3    31                  2       0.0
4    30                  3       NaN
5    27                  2       0.0
6    30                  3   20000.0
7    29                  3       0.0
8    25                  2       0.0
9    29                  3   15000.0
10   25                  2       0.0
11   31                  2       0.0
12   31                  2  150000.0
13   30                  3   10000.0

In [36]:
#Decreasing of Designation by level 1 who failed in projects 
Final.loc[Final["Status"] == "Fail", "Designation Level"] -= 1

#Filtering/Deleting rows having designation greater than 4
Final = Final[Final["Designation Level"] <= 4]

#Printing final results 
print(Final)

      ID     Project       Cost    Status             Name Gender      City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M     Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F    London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M    Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  New York
4   A005   Project 5        NaN  Finished        Amy Johny      F    Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F    London
6   A005   Project 7   400000.0  Finished        Amy Johny      F    Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M    Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M     Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M    Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M     Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  New York
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  New York
13  A005  Project 14   200000.0  Finished        Amy Johny      F    Madrid

    Age  Designation Level     Bonus
0    25                  2   50100.0
1    27                  2       0.0
2    29                  3  225000.0
3    31                  2       0.0
4    30                  3       NaN
5    27                  2       0.0
6    30                  3   20000.0
7    29                  3       0.0
8    25                  2       0.0
9    29                  3   15000.0
10   25                  2       0.0
11   31                  2       0.0
12   31                  2  150000.0
13   30                  3   10000.0

In [68]:
# Splitting the Name column to get the first name only
Final["First Name"] = Final["Name"].apply(lambda x: x.split()[0])

# Adding Mr. or Mrs. based on Gender
if "First Name" in Final.columns and "Gender" in Final.columns:
    Final["First Name"] = Final.apply(
        lambda row: f"Mr. {row['First Name']}" if row["Gender"] == "M" else f"Mrs. {row['First Name']}", axis=1
    )
    # Dropping the Gender column
    Final.drop(columns=["Gender"], inplace=True)
else:
    print("Column names not found. Check DataFrame structure.")
    
# Print the first few rows to verify changes
print(Final.head())

     ID    Project       Cost    Status             Name      City  Age  \
0  A001  Project 1  1002000.0  Finished       John Alter     Paris   25
1  A002  Project 2  2000000.0   Ongoing  Alice Luxumberg    London   27
2  A003  Project 3  4500000.0  Finished    Tom Sabestine    Berlin   29
3  A004  Project 4  5500000.0   Ongoing       Nina Adgra  New York   31
4  A005  Project 5        NaN  Finished        Amy Johny    Madrid   30

   Designation Level     Bonus  First Name
0                  2   50100.0    Mr. John
1                  2       0.0  Mrs. Alice
2                  3  225000.0     Mr. Tom
3                  2       0.0   Mrs. Nina
4                  3       NaN    Mrs. Amy

In [70]:
# Check if required columns exist
if "Age" in Final.columns and "Designation Level" in Final.columns:
    # Increase Designation Level by 1 for employees older than 29
    Final.loc[Final["Age"] > 29, "Designation Level"] += 1
else:
    print("Column names not found. Check DataFrame structure.")

# Print the updated results
print(Final.head())

     ID    Project       Cost    Status             Name      City  Age  \
0  A001  Project 1  1002000.0  Finished       John Alter     Paris   25
1  A002  Project 2  2000000.0   Ongoing  Alice Luxumberg    London   27
2  A003  Project 3  4500000.0  Finished    Tom Sabestine    Berlin   29
3  A004  Project 4  5500000.0   Ongoing       Nina Adgra  New York   31
4  A005  Project 5        NaN  Finished        Amy Johny    Madrid   30

   Designation Level     Bonus  First Name
0                  2   50100.0    Mr. John
1                  2       0.0  Mrs. Alice
2                  3  225000.0     Mr. Tom
3                  3       0.0   Mrs. Nina
4                  4       NaN    Mrs. Amy

In [72]:
# Splitting "Name" column into "First Name" and "Last Name"
Final[['First Name', 'Last Name']] = Final['Name'].str.split(n=1, expand=True)

# Grouping by ID and summing the "Cost" column
TotalProjCost = Final.groupby(["ID", "First Name"])["Cost"].sum().reset_index()

# Renaming the column for clarity
TotalProjCost.rename(columns={"Cost": "Total Cost"}, inplace=True)

# Printing the new DataFrame
print(TotalProjCost)

     ID First Name  Total Cost
0  A001       John   3002000.0
1  A002      Alice   2680000.0
2  A003        Tom   5150000.0
3  A004       Nina   9500000.0
4  A005        Amy    600000.0

In [74]:
# Filtering employees whose "City" contains the letter "o" (case-insensitive)
employees_with_o_city = Final[Final["City"].str.contains("o", case=False, na=False)]

# Printing the filtered DataFrame
print(employees_with_o_city)

      ID     Project       Cost    Status             Name      City  Age  \
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg    London   27
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra  New York   31
5   A002   Project 6   680000.0    Failed  Alice Luxumberg    London   27
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra  New York   31
12  A004  Project 13  3000000.0  Finished       Nina Adgra  New York   31

    Designation Level     Bonus First Name  Last Name
1                   2       0.0      Alice  Luxumberg
3                   3       0.0       Nina      Adgra
5                   2       0.0      Alice  Luxumberg
11                  3       0.0       Nina      Adgra
12                  3  150000.0       Nina      Adgra